<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" verbose ='3'>
    <classes>
             <class name="testcases.leads.TC001_CreateLead"/>
 		     <class name="testcases.leads.TC002_EditLeads"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
